# Terraform directories
.terraform/
.terraform.lock.hcl

# Local state files
*.tfstate
*.tfstate.backup

# Crash logs
crash.log
crash.*.log

# Sensitive files
terraform.tfvars
*.auto.tfvars
*.pem
.env
.env.txt

# IDE/editor settings
.vscode/
.idea/
*.swp
*.swo
*.bak

# OS junk files
.DS_Store
Thumbs.db